/* App.css */
.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #2731f0;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.iconos img {
  width: 30px; /* ajustar tamaño de las imágenes */
  margin-left: 10px; /* añadir un poco de espacio entre las imágenes */
}

main {
  padding: 20px;
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.producto {
  border: 1px solid #ddd;
  padding: 10px;
}

.producto img {
  width: 100%;
}

.producto h3 {
  margin: 10px 0;
}

footer {
  background-color: #2731f0;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
