/* App.css */
.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff7e6; /* Fondo suave con tono claro de naranja */
}

header {
  background-color: #ff6f00; /* Naranja intenso para la cabecera */
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón */
}

.iconos img {
  width: 30px; /* Ajustar tamaño de las imágenes */
  margin-left: 10px; /* Añadir un poco de espacio entre las imágenes */
}

main {
  padding: 20px;
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.producto {
  border: 1px solid #ffcc80; /* Borde con tono suave de naranja */
  padding: 10px;
  background-color: #fff3e0; /* Fondo claro para los productos */
  transition: transform 0.3s ease;
}

.producto:hover {
  transform: scale(1.05); /* Efecto de aumento al pasar el ratón */
}

.producto img {
  width: 100%;
}

.producto h3 {
  margin: 10px 0;
  color: #e65100; /* Título con naranja más oscuro */
}

.producto p {
  color: #5d4037; /* Texto descriptivo en marrón suave */
}

.producto button {
  background-color: #ff6f00; /* Botón naranja intenso */
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.producto button:hover {
  background-color: #e65100; /* Botón cambia a naranja más oscuro al pasar el ratón */
}

.about {
  background-color: #ffe0b2; /* Fondo de la sección "Sobre Nosotros" */
  padding: 20px;
  margin-top: 20px;
}

.about h2 {
  color: #e65100;
}

.about p {
  color: #5d4037;
}

.contacto {
  background-color: #ffe0b2; /* Fondo de la sección de contacto */
  padding: 20px;
  margin-top: 20px;
}

.contacto h2 {
  color: #e65100;
}

.contacto form div {
  margin-bottom: 15px;
}

.contacto label {
  display: block;
  color: #5d4037;
  margin-bottom: 5px;
}

.contacto input[type="text"],
.contacto input[type="email"],
.contacto textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffcc80; /* Borde suave en naranja */
  border-radius: 5px;
  background-color: #fff3e0;
}

.contacto button {
  background-color: #ff6f00; /* Botón naranja intenso */
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contacto button:hover {
  background-color: #e65100; /* Botón cambia a naranja más oscuro al pasar el ratón */
}

footer {
  background-color: #ff6f00; /* Naranja intenso para el pie de página */
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center; /* Centrar el texto del pie de página */
}
